/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

/* CONTAINER */
.canva-container {
    position: fixed;
    inset: 0;
    overflow: hidden;
}

/* IFRAME */
.canva-container iframe {
    position: absolute;

    top: -10px;
    left: 0;

    width: 100%;
    height: calc(100% + 20px);

    border: none;
}